.chat {
    position: absolute;
    bottom: 105px;
    width: 100%;
   
}

.chat-message {
    padding: 5px 10px;
    margin: 5px 0 0 20%;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
}

.from-contact {
    background-color: #DCF8C6;
    text-align: right;
}

.to-contact {
    background-color: #C2E0FF;
    text-align: left;
}

.timestamp {
    color: #888;
    font-size: 0.8em;
    margin-right: 5px;
}

.message {
    color: #000;
}
