@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    font-size: 1rem;
    color: #707272;
  }



}

@media only screen and (min-width: 600px) {
  * {
    box-sizing: border-box;
    font-size: 1.4rem;
    color: #707272;

  }

}

.head {

  display: flex;


}

#header {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;

}

.button-edit {

  right: 0;
}





#top-line {
  position: fixed;
  top: 20px;
  width: 100%;
  background-color: rgb(233, 215, 48);

}

#bottom-line {
  position: fixed;
  bottom: 88px;
  width: 100%;
  background-color: rgb(233, 215, 48);
  height: 3px;
}


::placeholder {
  color: #999;
  /* Example color */
}


#button-form {
  position: fixed;
  bottom: 60px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1px;
  place-items: center;
  width: 100%;
  font-size: 26px;

}
#send-form {
  position: fixed;
  bottom: 15px;

  display: grid;
  grid-template-columns: 30px 40px auto auto 60px;
  place-items: center;
  width: 100%;
  font-size: 26px;
  padding-left: 5px;
  padding-right: 5px;
  
}

#between-form {
  position: fixed;
  bottom: 15px;

  display: grid;
  grid-template-columns: 30px auto 60px;
  place-items: center;
  width: 100%;
  font-size: 26px;
  padding-left: 5px;
  padding-right: 5px;

}

#contact-form {
  position: fixed;
  bottom: 0;

  display: grid;
  grid-template-columns: 30px 40px auto 60px;
  place-items: center;
  width: 100%;
  font-size: 26px;
  padding-left: 10px;
  padding-right: 10px;
 
}

#amount-input,
#contact-input,
#reciever-input,
#next,
#send,
input {
  flex: 1;
  padding: 8px;
  width: 99%;
  border-radius: 4px;

}



#wallets-form {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 30px 40px auto 40px 60px;
  align-items: center;
  width: 100%;
  font-size: 16px;
  background-color: rgb(242, 242, 242);
}

#wallets-form2 {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 30px auto 60px;
  place-items: center;
  width: 100%;
  font-size: 26px;
  background-color: rgb(242, 242, 242);
}


#timestamp{
  font-size: 12px;
}
.container {


  display: flex;
 
}

.wallets {
  
  flex: 20;
  overflow-y: auto;
  /* Enable vertical scrolling */

  height: 100vh;
}

.contacts {
  flex: 80;
  overflow-y: auto;
  /* Enable vertical scrolling */

}



.walletItem {
  position: relative;
  margin-bottom: 60px;
  cursor: pointer;

}

.wallet-item {
  position: absolute;


}

#addContact {
  position: fixed;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1px;
  bottom: 90px;
  width: 100%;
  background-color: #e6e5e5;
  padding: 10px;
  text-align: center;
  margin-top: 80px;
left: 0;
}







